body {
    background-color: black;
}

#blue {
    background: linear-gradient(180deg, rgb(0, 205, 255), rgb(0, 0, 165));
    height: 35vw;
    width: 35vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17.5vw;
    margin-left: -17.5vw;
    border-radius: 25%;
    filter: drop-shadow(0 0 2.25vw rgba(0, 100, 255, 0.225));
    animation: blue-blink 2s infinite, blue 0s 1 forwards;
}

#black {
    background: black;
    height: 34.8vw;
    width: 34.8vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17.4vw;
    margin-left: -17.4vw;
    border-radius: 25%;
    box-shadow: 0 0 2vw rgba(0, 100, 255, 0.225) inset;
    animation: black-blink 2s infinite, black 0s 1 forwards;
}

#black3 {
    background: black;
    height: 34.8vw;
    width: 34.8vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17.4vw;
    margin-left: -17.4vw;
    border-radius: 25%;
}

#black2 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), black, black, rgba(0, 0, 0, 0));
    height: 6vw;
    width: 4vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 15vw;
    margin-left: -2vw;
}

#Skull {
    height: auto;
    width: 4vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2vw;
    margin-top: 16.2vw;
    animation-name: skull;
    animation-duration: 0s;
}

#pic-text {
    position: absolute;
    bottom: 0%;
    left: 30%;
    width: 40%;
    height: 100%;
}

#Omega {
    width: 6vw;
    height: auto;
    display: block;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -3vw;
    margin-top: 10vw;
    filter: drop-shadow(0 0 1.1vw rgb(0, 125, 255));
    animation: fade 2s infinite, omega 0s 1 forwards;
}

p {
    position: relative;
    top: 50%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 2.5vw;
    animation-name: fade, p;
    animation-duration: 60s;
    padding: 0 0 0 0;
    margin: 1vw 0 0 0;
    filter: drop-shadow(0 0 1.1vw rgb(0, 125, 255));
    animation: fade 2s infinite, p 0s 1 forwards;
}

@keyframes fade {
    50% {
        filter: drop-shadow(0 0 1vw rgb(0, 125, 255));
    }
    100% {
        filter: drop-shadow(0 0 1.1vw rgb(0, 125, 255));
    }
}

@keyframes omega {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    17.5% {
        opacity: 0;
        width: 6.6vw;
        margin-left: -3.3vw;
        margin-top: 0.3vw;
    }
    19.17% {
        opacity: 1;
        width: 6vw;
        margin-left: -3vw;
        margin-top: 0;
    }
}

@keyframes p{
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    17.5% {
        opacity: 0;
        font-size: 2.75vw;
    }
    19.17% {
        opacity: 1;
        font-size: 2.5vw;
    }
}

@keyframes skull {
    0% {
        opacity: 0;
    }
    33.33% {
        opacity: 0;
        margin-top: 13.2vw;
    }
    46.66% {
        opacity: 1;
        margin-top: 16.2vw;
    }
}

@keyframes blue-blink {
    50% {
        filter: drop-shadow(0 0 2vw rgba(0, 100, 255, 0.2));
    }
    100% {
        filter: drop-shadow(0 0 2.25vw rgba(0, 100, 255, 0.225));
    }
}

@keyframes blue {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
}

@keyframes black-blink {
    50% {
        box-shadow: 0 0 1.75vw rgba(0, 100, 255, 0.2) inset;
    }
    100% {
        box-shadow: 0 0 2vw rgba(0, 100, 255, 0.225) inset;
    }
}

@keyframes black {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 0;
    }
    24% {
        opacity: 1;
    }
}