body {
    background-color: black;
}

img {
    width: 25%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 48%;
    left: 37.5%;
    filter: drop-shadow(0 0 1vw rgb(0, 205, 255));
    animation-name: fade;
    animation-duration: 1s;
}

div {
    position: absolute;
    bottom: 0%;
    left: 30%;
    width: 40%;
    height: 100%;
}

p {
    position: relative;
    top: 53%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-shadow: 0 0 1vw rgb(0, 205, 255);
    font-size: 3vw;
    animation-name: fade;
    animation-duration: 1s;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    33.33%{
        opacity: 0;
    }
}
