body {
    background-color: black;
}

img {
    width: 20%;
    height: auto;
    display: block;
    position: absolute;
    bottom: 51%;
    left: 40%;
    filter: drop-shadow(-2px 0 15px rgb(0, 81, 255));
    animation-name: fade;
    animation-duration: 15s;
}

div {
    position: absolute;
    bottom: 0%;
    left: 30%;
    width: 40%;
    height: 100%;
}

p {
    position: relative;
    top: 50%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-shadow: 2px 0 15px rgb(0, 81, 255);
    font-size: 2vw;
    animation-name: fade;
    animation-duration: 15s;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    33.33%{
        opacity: 0;
    }
}